*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.NavBar{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 60px;
    width: auto;
    background-color: #042331;
    
}
.navlink{
    text-decoration: none;
    margin-right: 50px;
    color: white;
}
