.profile{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.user{
    height: 350px;
    width: 400px;
    border: solid 2px;
    background-color:#042331;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
}
.img{
    height: 200px;
    width: 399px;
}
.btn_delete{
    height: 25px ;
    width: 100px;
    margin-top: 20px;
    margin-left: 250px;
    border-color: white;
    color: white;
    background-color: #042331;
}
.btn_delete:hover{
    background-color: white;
    color: #042331;
    border-color: #042331;
}
.text{
    color: white;
    font-size: 20px;
    margin-left: 20px;
}
.userprofile{
    display: flex;
    justify-content:  center;
    align-items: center;
    font-size: 100px;
    margin-top: 100px;
    color: #042331;
}